.savvi-faq { background-color: transparent; padding: 2.155rem 1.5rem; border-radius: 0.85714rem; margin-bottom: 1rem; position: relative; transition: all 0.35s; }

.savvi-faq .savvi-toggle, .savvi-faq .savvi-click-area { width: 1.33333rem; height: 1.33333rem; right: 1.5rem; top: 45px; }

@media (min-width: 768px) { .savvi-faq .savvi-toggle, .savvi-faq .savvi-click-area { right: 3.57143rem; } }

.savvi-faq .savvi-click-area { position: absolute; cursor: pointer; z-index: 1; }

.savvi-faq .savvi-click-area.savvi-collapsed { left: 0; top: 0; width: 100%; height: 100%; }

.savvi-faq .savvi-click-area.savvi-collapsed:hover + .savvi-bg { border-color: #AFFC6D; }

.savvi-faq .savvi-click-area.savvi-collapsed ~ .savvi-bg { background-color: #E4F9D1; border-color: #E4F9D1; }

.savvi-faq .savvi-click-area.savvi-collapsed ~ .savvi-question { font-weight: 400; margin-bottom: 0; }

.savvi-faq .savvi-click-area.savvi-collapsed ~ .savvi-question:after { transform: scale(0); }

.savvi-faq .savvi-click-area.savvi-collapsed ~ .savvi-toggle { pointer-events: none; }

@media (min-width: 768px) { .savvi-faq .savvi-click-area.savvi-collapsed ~ .savvi-toggle { top: 39px; } }

.savvi-faq .savvi-click-area.savvi-collapsed ~ .savvi-toggle:before { left: 0; top: 0; }

.savvi-faq .savvi-click-area.savvi-collapsed ~ .savvi-toggle:after { top: calc(100% - 2px); }

.savvi-faq .savvi-bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 0.47619rem; border: 2px solid #181918; transition: all 0.35s; }

.savvi-faq .savvi-question { font-weight: 700; margin-bottom: 1rem; padding-right: 2.5rem; position: relative; transition: all 0.35s; }

@media (min-width: 768px) { .savvi-faq .savvi-question { padding-right: 4.7619rem; } }

.savvi-faq .savvi-question:after { content: ''; display: block; width: 16px; height: 16px; border-radius: 100rem; background: #AFFC6D; border: 3px solid #181918; position: absolute; left: calc(-1.5rem - 7px); top: calc(50% - 8px); transition: all 0.35s; }

@media (min-width: 768px) { .savvi-faq .savvi-question:after { width: 30px; height: 30px; border-width: 6px; left: calc(-2rem - 3px); top: calc(50% - 15px); } }

.savvi-faq .answer { position: relative; padding-left: 1.42857rem; padding-right: 4.7619rem; font-size: 0.85714rem; color: #333333; }

@media (min-width: 768px) { .savvi-faq .answer { padding-right: 4.7619rem; } }

.savvi-faq .answer:before { content: ''; display: block; width: 6px; height: 100%; background: #AFFC6D; position: absolute; left: 0; top: 0; }

.savvi-faq .savvi-toggle { position: absolute; transform: rotate(-45deg); transition: all 0.35s; }

.savvi-faq .savvi-toggle:before, .savvi-faq .savvi-toggle:after { content: ''; display: block; background: #181918; position: absolute; transition: all 0.35s; }

.savvi-faq .savvi-toggle:before { width: 2px; height: 100%; left: calc(50% - 1px); top: 0; }

.savvi-faq .savvi-toggle:after { width: 100%; height: 2px; left: 0; top: calc(50% - 1px); }

.savvi-faq p:last-child { margin-bottom: 0; }
